# ignore everything
*

# except
!.gitignore
!missing_count.csv
!main.R
!funcs.R
!sorted_IQR.csv
!README.md

!*/figures/combat_vsn/*
!*/figures/depl_combat_vsn/*
!*/figures/depl_hk_vsn/*
!*/figures/depl_withinvsn_combat/*
!*/figures/depl_withinvsn_hk/*
!*/figures/hk_vsn/*
!*/figures/log_filter/*
!*/figures/withinvsn_combat/*
!*/figures/withinvsn_hk/*

!*/
